@page "{id:int}"
@model DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details:</h1>

<div class="row ">
    <div class="col-md-8 data-view">
        <form method="post">
            @Html.AntiForgeryToken()

            <div class="form-group m-1">
                <img class="col-12" src="@(Model.Item.Images.Count > 0 ? Model.Item.Images[0].FullPath : "")" alt="Listing Image" />
            </div>
            <div class="form-group m-1">
                <label class="fw-bolder">Price:</label>
                <span>@Model.Item.Price.ToString("C")</span>
            </div>
            <div class="form-group m-1">
                <label class="fw-bolder">Title:</label>
                <span>@Model.Item.Title</span>
            </div>
            <div class="form-group m-1">
                <label class="fw-bolder">Category:</label>
                <span>@Model.Item.Category.CategoryName</span>
            </div>
            <div class="form-group m-1">
                <label class="fw-bolder">Description:</label>
                <br />
                <span>@Model.Item.Description</span>
            </div>
        </form>
    </div>

    <div class="col-md-4 text-center">
        <a class="btn btn-primary text-white" asp-page="/Browse/Index">
            Go back to browse listings
        </a>
    </div>
</div>