@page
@model ListModel

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<div class="btn btn-primary">
    <a class="text-white" asp-page="Create">Create New</a>
</div>
<table class="table  text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].CategoryDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Category) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryDescription)
            </td>
            <td>
                <a class="text-white" asp-page="/Browse/Index" asp-route-ItemCategory="@item.CategoryName">View Listings (@item.Listings.Count())</a> |
                <a class="text-white" asp-page="./Edit" asp-route-id="@item.CategoryId">Edit</a> |
                <a class="text-white" asp-page="./CategoryDetails" asp-route-id="@item.CategoryId">Details</a> |
                <a class="text-white" asp-page="./Delete" asp-route-id="@item.CategoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
