@page "{id:int}"
@model DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="row ">
    <div class="col-md-8 data-view">
        <form method="post">
            @Html.AntiForgeryToken()

            <div class="form-group m-1">
                        @for (int i = 0; i < Model.Item.Images.Count; i++)
                        {
                             <img class="d-block w-100" src="@Model.Item.Images[i].FullPath" />
                             <br />
                        }
            </div>
            <div class="form-group m-1 ">
                <label class="fw-bolder">Listed By:</label>
                <span>@Model.Item.Owner.Username on 
                    @Model.Item.ListingTime.ToShortDateString()
                </span>
            </div>
            <div class="form-group m-1">
                <label class="fw-bolder">Price:</label>
                <span>@Model.Item.Price.ToString("C")</span>
            </div>
            <div class="form-group m-1">
                <label class="fw-bolder">Title:</label>
                <span>@Model.Item.Title</span>
            </div>
            <div class="form-group m-1">
                <label class="fw-bolder">Category:</label>
                <span>@Model.Item.Category.CategoryName</span>
            </div>
            <div class="form-group m-1">
                <label class="fw-bolder">Description:</label>
                <br />
                <span>@Model.Item.Description</span>
            </div>
        </form>
    </div>

    <div class="col-md-4 text-center" >
        <a class="btn btn-primary" asp-page="/MyListings/Index" >
            Back to My Listings
        </a>
        
        <a class="btn btn-primary mt-2" asp-page="/MyListings/Edit" asp-route-id="@Model.Item.ListingId">
            Edit Listing
        </a>
  
    </div>
</div>