@page "{id:int}"
@model DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="row ">
    <div class="col-md-8 data-view">
        <form method="get">
            @Html.AntiForgeryToken()

            <div id="listinImages" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    @for (int i = 0; i < Model.Item.Images.Count; i++)
                    {
                        <li data-target="#listinImages" data-slide-to="@i" class="@(i==0 ? "active" : "")"></li>
                    }
                </ol>
                <div class="carousel-inner">
                    @for (int i = 0; i < Model.Item.Images.Count; i++)
                    {
                        <div class="carousel-item @(i==0 ? "active" : "")">
                            <img class="d-block mx-auto" src="@Model.Item.Images[i].FullPath" alt="" style="height:350px">
                        </div>
                    }
                </div>
                <a class="carousel-control-prev" href="#listinImages" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" href="#listinImages" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
            <div class="form-group m-1 ">
                <label class="fw-bolder">Listed By:</label>
                <span>@Model.Item.Owner.Username on 
                    @Model.Item.ListingTime.ToShortDateString()
                </span>
            </div>
            <div class="form-group m-1">
                <label class="fw-bolder">Price:</label>
                <span>@Model.Item.Price.ToString("C")</span>
            </div>
            <div class="form-group m-1">
                <label class="fw-bolder">Title:</label>
                <span>@Model.Item.Title</span>
            </div>
            <div class="form-group m-1">
                <label class="fw-bolder">Category:</label>
                <span>@Model.Item.Category.CategoryName</span>
            </div>
            <div class="form-group m-1">
                <label class="fw-bolder">Description:</label>
                <br />
                <span>@Model.Item.Description</span>
            </div>
        </form>
    </div>

    <div class="col-md-4 text-center" >
        <a class="btn btn-primary" asp-page="/MyListings/Index" >
            Back to My Listings
        </a>
        
        <a class="btn btn-primary mt-2" asp-page="/MyListings/Edit" asp-route-id="@Model.Item.ListingId">
            Edit Listing
        </a>
        <a class="btn btn-primary mt-2" asp-page="/MyListings/Delete" asp-route-id="@Model.Item.ListingId">
            Delete Listing
        </a>
  
    </div>
</div>