@page "{id:int}"
@model QwikThrift.Pages.MyListings.EditModel
@{
    ViewBag.Title = $"Edit Listing";
}

<h1>Edit Listing</h1>

<div class="row ">
    <div class="col-md-12 bg-dark">
        <form asp-action="Edit" class="text-white" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
@*             <div class="form-group">

                <div class="row">
                    
                    @for (int i = 0; i < Model.Listing.Images.Count; i++)
                    {
                        <img class="col-sm-2 d-flex mt-2 " src="@Model.Listing.Images[i].FullPath" />
                        <br />
                    }
                    
                </div>
                
            </div> *@
            <input asp-for="Listing.ListingId" hidden/>
            <div class="form-group">
                <label asp-for="Listing.Title" class="control-label"></label>
                <input asp-for="Listing.Title" class="form-control" value="@Model.Listing.Title" required/>
                <span asp-validation-for="Listing.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Listing.Price" class="control-label"></label>
                <input asp-for="Listing.Price" class="form-control" value="@Model.Listing.Price" />
                <span asp-validation-for="Listing.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label><br />
                <select asp-for="Category" asp-items="Model.Categories" class="col-md-12 p-2">
                    <option selected="selected" value="@Model.Listing.Category.CategoryName">@Model.Listing.Category.CategoryName</option>
                </select>
                <span asp-validation-for="Listing.Category" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <label asp-for="Listing.Description" class="control-label"></label>
                <textarea asp-for="Listing.Description" class="form-control text-wrap" style="height:100px;" required></textarea>
                <span asp-validation-for="Listing.Description" class="text-danger"></span>
            </div>
            <div class=" text-center">
                <div class="form-group">
                    <input type="reset" value="Reset" class="nav-link btn btn-primary text-white mt-2 mx-auto" />
                </div>
                <div class="form-group mt-2 ">
                    <button type="submit" class="btn btn-primary mt-2 nav-link mx-auto text-white">Next Step</button>
                </div>
                <div class=" mt-2">
                    <a class="btn btn-primary mb-2 nav-link mx-auto text-white" asp-page="/MyListings/Index">
                        Back to My Listings
                    </a>
                </div>
            </div>
        </form>
        
    </div>


</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
