@model IndexModel
@{
    Layout = "_Layout";
}
<div class="row">
    <div class="list-group  mx-1 col-md-3">
        <a asp-page="Index" asp-route-mode="inbox" class="list-group-item 
            list-group-item-action d-flex justify-content-between align-it @(ViewBag.Mode == "inbox" ? "active" : "")">
                Inbox
                <span class="badge rounded-circle bg-white text-black">@Model.NewMessages</span>
            </a>
        <a asp-page="Index" asp-route-mode="outbox" class="list-group-item list-group-item-action
            @(ViewBag.Mode == "outbox" ? "active" : "")">Sent</a>
        <a asp-page="Index" asp-route-mode="compose" class="list-group-item list-group-item-action 
            list-group-item-primary @(ViewBag.Mode == "compose" ? "active" : "")">Compose Message</a>
    </div>
    <div class="col-md-8">
        @RenderBody()
    </div>
</div>