@{
    Layout = "_Layout";
}

@inject IHttpContextAccessor ctxAccess

<div class="row">
    <div class="list-group col-md-2">
        <a asp-page="Index" asp-route-mode="inbox" class="list-group-item 
            list-group-item-action d-flex justify-content-between align-it @(ViewBag.Mode == "inbox" ? "active" : "")">
                Inbox
                <span class="badge rounded-circle bg-white text-black">@ViewBag.UnreadMessages</span>
            </a>
        <a asp-page="Index" asp-route-mode="outbox" class="list-group-item list-group-item-action
            @(ViewBag.Mode == "outbox" ? "active" : "")">Sent</a>
        <a asp-page="Send" asp-route-returnUrl="@(ctxAccess.HttpContext != null ? ctxAccess.HttpContext.Request.Path : "")"
            class="list-group-item list-group-item-action list-group-item-primary">
                Compose Message
        </a>
    </div>
    @RenderBody()
</div>

@section Scripts
{
    @await RenderSectionAsync("Scripts", required: false)
}
@section AppendToHead
{
    @RenderSection("AppendToHead", false)
}