@page
@model QwikThrift.Pages.Messages.IndexModel
@{
    Layout = "_MessageLayout";
}
<div class="list-group d-flex flex-column align-items-stretch">
    @if (Model.Messages.Count == 0)
    {
        <div class="list-group-item flex-fill">
            Your @ViewBag.Mode is empty...
        </div>
    }
    @foreach (var message in Model.Messages)
    {
        <div class="list-group-item">
            <div class="fw-bolder">
                Subject: @message.Subject
            </div>
            <br />
            <div class="fw-bold">
                From: @message.Sender.Username
            </div>
            <br />
            <div class="text-sm-start text-wrap">
                @message.Body.Substring(0,100)
                @(message.Body.Length >= 100 ? "..." : "")
            </div>
            <br />
            <div class="text-sm-end text-muted">
                remove
            </div>
        </div>
    }
</div>