@page
@model QwikThrift.Pages.Messages.IndexModel
@{
    Layout = "_MessageLayout";
}
<div class="list-group d-flex flex-column align-items-stretch">
    @if (Model.Messages.Count == 0)
    {
        <div class="list-group-item flex-fill">
            Your @ViewBag.Mode is empty...
        </div>
    }
    @foreach (var message in Model.Messages)
    {
        <form asp-page="/Messages/View" asp-route-id="@message.MessageId" method="post">
            <button class="list-group-item" type="submit" style="width:100%!important">
                <div class="fw-bolder">
                    Subject: @message.Subject
                </div>
                <br />
                <div class="fw-bold">
                    From: @message.Sender.Username
                </div>
                <br />
                <div class="text-sm-start text-wrap">
                    @(message.Body.Length >= 100 ? message.Body.Substring(0, 100) + "..." : message.Body)
                </div>
                <br />
                <div class="text-sm-end text-muted @(ViewBag.Mode == "inbox" ? "" : "visually-hidden")">
                    remove
                </div>
            </button>
        </form>
    }
</div>